<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF‐8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>首页</title>
    <!--1. css-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/layui/icon-extend/iconfont.css">
    <link rel="stylesheet" href="/css/index.css">
    <!--2. js-->
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/frame.js"></script>
    <script src="/js/title.js"></script>

    <style>
    </style>


</head>
<body>

<!--header-->
<div style="background-color: darkslategray;height: 2px;position: sticky;top: 0"></div>
<div class="navbar navbar-default"
     style="background-color: white;
            width: 100%;
            margin-bottom: 20px;
            /*position: -webkit-sticky;*/
            position: sticky;
            top: 0;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">准 研</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--导航按钮：激活状态-->
                <li><a th:href="@{/index}"><i class="icon-extend icon-extend-home"></i> 首页</a></li>

                <!--导航按钮：未激活状态-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="icon-extend icon-extend-fenlei"></i> 分类<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">硕士研究生</a></li>
                        <li>
                            <hr class="layui-border-red">
                        </li>
                        <li><a href="#">博士研究生</a></li>
                    </ul>
                </li>

                <li><a th:href="@{/page/news}" target="content"><i class="icon-extend icon-extend-xinjian"></i> 资讯</a></li>

                <li><a th:href="@{/page/discuss}" target="content"><i class="icon-extend icon-extend-task"></i>讨论</a>
                </li>

                <li><a href="https://yz.chsi.com.cn/" target="_blank">研招网</a></li>
                <li><a href="https://www.chsi.com.cn/" target="_blank">学信网</a></li>
            </ul>

            <!--搜索-->
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <label>
                        <input type="text" class="form-control" placeholder="Search"
                               style="height: 30px;width: 200px;border-radius: 20px;background-color: whitesmoke">
                    </label>
                </div>
            </form>


            <!--登录-->
            <ul class="nav navbar-nav navbar-right">
                <li id="li-img" style="margin-top: 5px;">
                    <img src="/img/profile.png" class="layui-circle" style="width: 30px;height: 30px;margin: 5px" alt="头像">
                </li>
                <li>
                    <input id="hidden-username" type="hidden" th:value="${username}">
                    <a id="a-login" target="content"><span id="span-user" th:text="${alias}"></span></a>
                </li>
                <li id="li-logout"></li>
            </ul>
        </div>
    </div>
</div>

<!--body-->
<div class="container">
    <iframe th:src="@{/page/home}" id="external-frame" name="content" frameborder=0
            scrolling="no" onload="setIframeHeight('external-frame')">
    </iframe>
</div>

<!--footer-->
<footer class="footer">
    <div class="container">
    </div>
</footer>


<!--layui.js-->
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript">
    function parentToChildValue(selector) {
        return $('#' + selector).val();
    }

    $(function () {
        let $spanUser = $("#span-user"),
            $aLogin = $("#a-login"),
            $liLogout = $("#li-logout");

        if ($spanUser.text() === "欢迎登录") {
            $aLogin.attr('target', '_self');
            $aLogin.attr('href', '/login');
        } else {
            $liLogout.html("<a href=\"/logout\">[退出]</a>");
            $aLogin.attr('href', '/user/my');
        }

        //轮播图
        layui.use('carousel', function () {
            let carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#test1'
                , width: '100%' //设置容器宽度
                , height: '350px'
                , arrow: 'always' //始终显示箭头
            });
        });

    })
</script>
</body>
</html>